.erreur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 10vh 0;
  background-position: center;
  background-repeat: no-repeat;
  
  &__contenu {
    row-gap: 2rem;
    max-width: 60vw;
    text-align: center;
  }

  &__titre {
    padding: 0.8rem;
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__message {
    padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__nav {

    & p {
      font-weight: bold;
    }
    
    & .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
    }
  }
}