.categorie__entete {
  width: 90vw;
  margin: 0 auto;
}

 // Liens des catégories
 .post-categories {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: 1rem;
  margin-bottom: 2rem;
  li {
    a {
      text-decoration: none;
      color: inherit;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: $couleur__accent--clair;
    }
    a:hover {
      filter: brightness(0.8);
      transition: filter 0.3s ease;
    }
  }
}