/* 
  --------------------------------------------------------Layout du pied de page
*/

footer {
  padding: clamp(1rem, 5%, 2rem);
}

.piedpage{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  
  &__s1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start;
    column-gap: 2rem;
    row-gap: 1rem;

    &__externe {
      flex: 0 0 20%;
      
      & .menu { // ul menu wp
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 0;
      }
    }
    &__adresse{
      flex: 0 0 40%;

      &__coord {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        p {
          margin: 0;
        }
      }
      &__recherche {
        margin-top: 1rem;
        line-height: 4rem;
      }
    }
    &__description {
      flex: 1 0 clamp(250px, 40%, 400px);
    }
  }
  &__s2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__principal {

      & .menu {
        flex-direction: row;
        padding-left: 0;
        column-gap: 0.5rem;
        a{
          margin-left: 0;
        }
      }
    }
  }

  &__s3 {
    width: fit-content;
    margin: 1rem auto;

    &__image img {
      max-width: 30vw;
    }
  }
}