/* 
  --------------------------------------------------------Layout du pied de page
*/

footer {
  padding: clamp(1rem, 5%, 2rem);

  & h5 {
    margin-top: 0;
  }
}

.piedpage{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  
  &__s1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start;
    column-gap: 2rem;
    row-gap: 1rem;

    &__externe {
      flex: 0 0 20%;
      
      & .menu { // ul menu wp
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 0;
      }
    }
    &__adresse{
      flex: 0 0 30%;

      &__coord {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        p {
          margin: 0;
        }
      }
      &__recherche {
        margin-top: 1rem;
        line-height: 4rem;
      }
    }

    &__image {
      flex: 1 0 clamp(200px, 30%, 300px);

      & img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__2 {

    &__description {
      flex: 1 0 clamp(200px, 30%, 300px);
    }
  }

  &__s3 {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__principal {

      & .menu {
        flex-direction: row;
        margin: 0;
        padding-left: 0;
        column-gap: 0.5rem;
        a{
          margin-left: 0;
        }
      }
    }

    &__sociaux {
      width: fit-content;
      flex-shrink: 0;
    }
  }
}