.hero{
  position: relative;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-weight: bold;

  &__carrousel {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;

    &--active {
      opacity: 1;
    }
  }

  &__radio {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

    &__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      pointer-events: none;
    }

    &__input:checked + label::after {
      background-color: $couleur__primaire; /* Changer la couleur quand sélectionné */
    }

    &__label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding: 0.5rem;
      z-index: 1;
    }

    & label::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: rgba($couleur__primaire, 0.5);
      transform: translate(-50%, -50%);
      transition: background-color 0.3s ease;
    }
  }

  &__titre {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    text-shadow: 2px 2px 5px $couleur__tertiaire;
  }

  &__description {
    width: clamp(15rem, 50vw + 1rem, 45rem);
  }

  &__bouton {
    margin-bottom: 1rem;
    padding: 0.3rem 0.5rem;
    border: 2px solid $couleur__primaire;
    border-radius: 3px;
    background-color: $couleur__primaire;
    font-weight: bold;
    font-size: 0.8rem;

    &:hover {
      background-color: darken($couleur__primaire, 10%);
      border: 2px solid darken($couleur__primaire, 10%);
      cursor: pointer;
    }
  }
}