// Gabarit de carte des destinations
.carte {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;

  &--grande{
    flex: 1 1 250px;
    max-width: 350px;
  }
  
  &__contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem; 
    background-color: $couleur__primaire;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba($couleur__secondaire, 0.6);
      transform: scale(1.05);
    }
  }
  &__titre {
    width: fit-content;

    & a {
      font-size: inherit;
      color: inherit;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}