.carte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--grande{
    flex: 1 1 250px;
  }
  &__image {

    img {
      width: 100%;
    }
  }
  &__contenu {
    background-color: rgb(61, 104, 79);
  }
  &__titre {
  
  }
  &__description {

  }
  &__bouton {

    &--actif {

    }
  }
}