// Gabarit de carte des destinations
.carte {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;

  &--grande{
    flex: 1 1 250px;
    max-width: 350px;
  }
  
  &__contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem; 
    background-color: $couleur__primaire;
    border: 1px solid $couleur__tertiaire;
    border-radius: 10px;
    text-align: center;
    flex: 1;
  }
  &__titre {
    width: fit-content;
  }
  &__description {}
  &__bouton {
    text-decoration: none;
    &--actif {
      background-color: $couleur__accent;
      color: white;
      padding: 0.3rem;
      border-radius: 5px;
    }
    &--actif:hover {
      background-color: $couleur__accent--fonce;
      color: rgba(255, 255, 255, 0.75);
    }
  }
}