/* --------------------------------- .menu */
.menu{ //ul
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  @media screen and (max-width: 800px){
  flex-direction: column;
  }

  flex-direction: row;
  list-style-type: none;
  gap: 10px 0;
  &__li{ // li

    a{ // a
      text-decoration: none;
      padding: 6px;
      color: black;
      &:hover{
        color: rgb(3, 175, 201);
      }
    }
  }
}