.pays {
  margin: 1rem auto 0 auto;

  &__intro {
    background-color: $couleur__accent--clair;

    &__contenu {
      width: 60vw;
      margin: 0 auto;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    & p {
      margin-bottom: 2rem;
    }
  }

  &__liste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $couleur__secondaire;

    &__contenu {
      width: 60vw;
      margin: 1rem auto;
      display: flex;
      flex-wrap: wrap;
    }

    &__ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      gap: 1rem 1.5rem;

      &__li {
        background-color: $couleur__accent--clair;
        color: $couleur__texte;
        list-style: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          filter: brightness(0.8);
        }

        &.active{
          background-color: $couleur__accent;
        }
      }
    }
  }

  &__vague {
    background-color: $couleur__accent--clair;
    fill: $couleur__secondaire;
  }
}